
/*.  Container */
.ctr {
    width: 100%;
    text-align: center;
  }
  .bg {
    display: flex;
    text-align: center;
    justify-content: center;
  }
/** backgrpund color*/
body {
  background-color: rgba(100, 96, 96, 0.521);
}
  
  /* Background Image  --> Adjusted width of absolute image */
  .bg-img {
    position: absolute;
    z-index: -1;
    width: 55%;
    border-radius: 1%;
  }
  
  canvas {
    z-index: 5;
  }
  

  /* Animations Buttons */
.animation-buttons {
    text-align: center;
    justify-content: space-around;
  }
  
.btn{
    background-color: rgba(87, 87, 87, 0.904);
    color: white;
    margin: 3% .5%;
    border-radius: 25px;
    border: 2px solid blue;
    padding: 10px;
  }

h2{
      background-color: yellowgreen ;
      display: inline-block;
      border-radius: 25px;
      margin: 0% 0%;
      padding: 8px;
      color: black;
  }

  /* Footer */

.fab{
    margin-left: 50%;
    margin-top: -20px;
    
}
.fab:hover{
    color: green;
}
  
